<h2>Anmeldung zu Lektion '%s'</h2>
Liebe(r) Dario Müller,<br/><br/>
Herzlichen Dank für Deine Anmeldung bei Neugut Autoschule! Wir bestätigen Dir Deine Reservation wie folgt:<br/><br/>
<table>
<tr>
<td><b>Kurs:</b></td><td><b>%s</b></td>
</tr>
<tr>
<td>Datum:</td><td>%s</td>
</tr>
<tr>
<td>Zeit:</td><td>%s - %s</td>
</tr>
<tr>
<td>Ort:</td><td>%s</td>
</tr>
<tr>
<td>Preis:</td><td>%s</td></tr>
</table>
<br/>
Deine Informationen:<br/>
<table>
<tr>
<td>Vorname:</td><td>%s</td>
</tr>
<tr>
<td>Nachname</td><td>%s</td>
</tr>
<tr>
<td>Adresse/Nr.:</td><td>%s</td>
</tr>
<tr>
<td>PLZ/Ort:</td><td>%s %s</td>
</tr>
<tr>
<td>Telefon:</td><td>%s</td>
</tr>
<tr>
<td>Email:</td><td>%s</td></tr>
</table>
<br/><br/>
Diese Anmeldung ist verbindlich, falls Du einen Fehler entdeckt hast oder etwas unklar ist, so melde Dich bitte<br/>
umgehend bei uns via mail an <a href='mailto:kim.d.hauser@gmail,com'>kim.d.hauser@gmail,com</a> oder per Telefon unter 044/ 234 56 78. Danke!<br/><br/>
Freundlich grüsst Dich<br/> Roberto Gross